## Named Tuples

Some best practices regarding named tuples in Python, this comes from:

 - [1] https://dbader.org/blog/writing-clean-python-with-namedtuples

In [1]:
# Tuples can be used to group together arbitrary objects.
tup = ('hello', object(), 42)
print(tup)

# Tuples are also immutable
try:
    tup[2] = 40
except TypeError as e:
    print('Got an error trying to assign wrong datatype: %s' % e)

('hello', <object object at 0x7fd459ebd450>, 42)
Got an error trying to assign wrong datatype: 'tuple' object does not support item assignment

Compared to dictionaries, however, tuples require you access data using integer indexes. Not great for readability...

In [2]:
from collections import namedtuple

# To solve this problem you can use namedtuples
Car = namedtuple('Car', ['color',  'mileage'])
Car = namedtuple('Car', 'color mileage') # You can actually write it like this as well

# So now you can create 'objects'.
# It behaves as if you had a factory class
my_car = Car('red', 1337)
print(my_car.color)
print(my_car.mileage)

red
1337

In [3]:
# Unpacking also works
color, mileage = my_car
print(color, mileage)

# As well as the * argument operator
print(*my_car)

red 1337
red 1337

In [4]:
# You can still use the index identifiers (as if they were normal tuples)
print(my_car[0])
print(tuple(my_car))

red
('red', 1337)

In [5]:
# The built in string representation is nice as well
print(my_car)

Car(color='red', mileage=1337)

In [6]:
# Like tuples, namedtuples are also immutable
my_car.color = 'blue'

AttributeError: can't set attribute

In [9]:
# Because namedtuples are built ontop of regular classes, you can sub-class them
class MyCarWithMethods(Car):
    def hexcolor(self):
        if self.color == 'red':
            return '#ff0000'
        else:
            return '#000000'

# Create an instance of this new class
c = MyCarWithMethods('red', 1337)
c.hexcolor()

'#ff0000'

In [10]:
# You can create new namedtuples using the previous ones as a template
ElectricCar = namedtuple('ElectricCar', Car._fields + ('charge',))
ElectricCar('white', 100, 89.00)

ElectricCar(color='white', mileage=100, charge=89.0)

In [11]:
# Namedtuples have a couple convenient built-in functions (ignore the single underscore which usually denotes private)
my_car._asdict()

OrderedDict([('color', 'red'), ('mileage', 1337)])

In [15]:
new_car = my_car._replace(color='blue')
print(my_car)
print(new_car)

Car(color='red', mileage=1337)
Car(color='blue', mileage=1337)